# Environment variables declared in this file are automatically made available to Prisma and Next.js.
# See documentation: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Database Connection
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE"

# Better Auth Configuration
BETTER_AUTH_SECRET="your-32-char-random-secret-key-here"
BETTER_AUTH_URL="http://localhost:3000"

# Admin Initial Bootstrap
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="your-secure-admin-password"
ADMIN_NAME="Administrator"
